main {
    width: 100vw;
    height: 100vh;
    display: grid;

    section:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-area: 1/1;
        justify-self: center;
        align-self: center;
        width: auto;
        border-top: 0.5vw solid;

        div {
            font-size: 6vw;
            font-family: 'Stick No Bills', sans-serif;
            display: grid;
            align-items: center;
            justify-items: center;
            color: black;
            justify-content: center;


            p {
                color: black;

                &:nth-child(2) {
                    color: black;
                    transform: translatey(-0.5vw);
                    animation: blink 1s steps(5, start) infinite;
                }

                &:nth-child(4) {
                    color: black;
                    transform: translatey(-0.5vw);
                    animation: blink 1s steps(5, start) infinite;
                }
            }

            @keyframes blink {
                to {
                    visibility: hidden;
                }
            }

            &:nth-child(1) {
                background-color: rgba(69, 177, 201, 0.81);

                p {
                    letter-spacing: 0.5vw;
                }
            }

            &:nth-child(2) {
                font-size: 7vw;
                display: grid;
                width: 30vw;
                grid-template-columns: 8vw 2vw 8vw 2vw 8vw;
                background-color: rgba(217, 217, 217, .81);
            }

        }

    }
    section:nth-child(2) {
        grid-area: 1/1;
        justify-self: center;
        align-self: center;
        transform: translateY(30vh);
        display: grid;
        grid-template-columns: 1fr 1fr;
        p{
            padding-bottom: 5vh;
            justify-self: center;
            align-self: center;
            color: blanchedalmond;
            font-size: 5vw;
            &:nth-child(1){
                grid-area: 1/1/1/3;
            }
        }
        button{
            width: 7vw;
            height: 2vw;
            border-radius: 1vw;
            border: none;
            font-size: 1vw;
            transition: 0.5s ease-in-out;
            justify-self: center;

            &:nth-child(2){
                grid-area: 2/1;
            }
            &:nth-child(3){
                grid-area: 2/2;
            }
        }
        button:hover{
            background-color: rgba(69, 177, 201, 0.81);
            color: white;
            transform: scale(1.1);
        }
    }
}
@media screen and (max-width: 768px) {
    *{
        transition:none !important;
    }
    main{
        section:nth-child(1){
            transform: scale(1.5) translateY(-20vh);
            height: 10vh;
            border-top: 1vw solid;
        }
        section:nth-child(2){
            transform: scale(1.5) translateY(5vh);
            p{
                font-size: 8.5vw;
            }
            button{
                width: 20vw;
                height: 10vw;
                font-size: 4vw;
                color: black !important;
                background-color: white !important;
                transform: none;

            }
            button:nth-child(2){
                margin-left: 3vw;
            }
        }
    }
    
}