main{
    width: 100vw;
    height: 100vh;
    background-image: url(../../media/img/fondos/main-bk.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-self: center;
        align-self: center;
        width: 50vw;
        div{
            border: 1px solid red;
            font-size: 6vw;
            font-family: 'Stick No Bills', sans-serif;
            display: grid;
            align-items: center;
            justify-items: center;
            color: black;
            justify-content: center;
            p{
                color: black;
                &:nth-child(2){
                    color: purple;
                    transform: translatey(-0.5vw);
                }
            }
            &:nth-child(1){
                background-color: rgba(69, 177, 201, 0.81);
            }
            &:nth-child(2){
                font-size: 7vw;
                display: grid;
                grid-template-columns: 6vw 1vw 7vw;
                background-color: rgba(217,217,217,.81);
            }
        }
    }
}